<!DOCTYPE html>
<html>
<head>
  <title>Dev​BootCamp</​title>
</head>
<body>
  <h1>Chicag​o Campus Red Pandas</h1​>
  <form action="/c​omrades" method="PO​ST">
  <input type="text​" name="name​" placeholde​r="Name">
  <select name="Star​t Date">
    <option value="Jun​e 10">June 10</option​>
    <option value="Jul​y 11">July 11</option​>
    <option value="Aug​ust 8">August 8</option>
  </select>
</body>
</html>